.fon{
    background-color: #f5b80b;
    margin: 0px;

}
#experience {
    background-color: #f5d47b;
}
#edication{
    background-color: #f5d96a;
}
.list-unstyled{
    margin-bottom: 0px;
    margin-top: 0px;
}
h2{
    margin: 0px;
}
h1{
    margin: 0px;
}

